// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap&subset=cyrillic');

@font-face {
  font-family: 'Candara';
  src: url('../webfonts/Candara.woff2') format('woff2'),
      url('../webfonts/Candara.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Candara';
  src: url('../webfonts/Candara-Light.woff2') format('woff2'),
      url('../webfonts/Candara-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Candara';
  src: url('../webfonts/Candara-BoldItalic.woff2') format('woff2'),
      url('../webfonts/Candara-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: 'Candara';
  src: url('../webfonts/Candara-Bold.woff2') format('woff2'),
      url('../webfonts/Candara-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Candara';
  src: url('../webfonts/Candara-Italic.woff2') format('woff2'),
      url('../webfonts/Candara-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: 'Candara';
  src: url('../webfonts/Candara-LightItalic.woff2') format('woff2'),
      url('../webfonts/Candara-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}
// colors
$site-dark-grey: #333333;
$site-teal: #2295AE;
$site-light-grey: #EEEEEE;
$site-scarlet: #F62130;

$primary: $site-teal;
$secondary: $site-dark-grey;

$theme-colors: (
  "site-dark-grey": $site-dark-grey,
  "site-teal": $site-teal,
  "site-light-grey": $site-light-grey,
  "site-scarlet": $site-scarlet
);
// variables
$font-family-sans-serif: "Open Sans", sans-serif;

$enable-rounded: false;
$enable-caret: false;

$link-decoration: underline;

// $headings-font-family: 'Candara';
$headings-line-height: 1.1;

$input-color: $site-teal;

$border-width: 2px;
// classes
.form-control {
  border-radius: 0.25rem !important;
}
.lead {
  line-height: 1.2;
}
.font-candara {
  font-family: 'Candara';
}
.header {
  background-color: rgba(255, 255, 255, 0.8)
}
.top-slogan {
  text-align: center;
  line-height: 1;
  // margin-bottom: 1rem;
}
.top-phone {
  font-size: 2rem;
  line-height: 0.75;
  margin-bottom: 0.375rem;
}
.landing-section-1 {
  background: url('/img/back-photo.jpg') center no-repeat;
  background-size: cover;
}
.landing-section-3 {
  background: url('/img/about-photo.jpg') center no-repeat;
  background-size: cover;
}
.scroll-down, .scroll-down:hover, .scroll-down:focus {
  text-decoration: none;
}
.price {
  font-size: 1.5rem;
}
.btn-custom {
  font-family: 'Candara';
  font-weight: bold !important;
  border-radius: 9999px !important;
  box-shadow: 15px 15px 30px 5px rgba(0,0,0,0.27);
  text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  line-height: 1.2 !important;
}
.btn-order {
  font-size: 3.5rem !important;
  padding: 0.75rem 2rem !important;
  transform: translateY(50%);
}
.btn-feedback {
  font-size: 2rem !important;
  padding: 0.5rem 1.5rem !important;
}
// media specific
@media (min-width: 576px) { // Small devices (landscape phones, 576px and up)
  .btn-order {
    padding: 0.75rem 5rem !important;
  }
  .price {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) { // Medium devices (tablets, 768px and up)
  .order-form {
    background-color: $site-light-grey;
  }
  .screen-horizontal {
    min-height: 100vh;
  }
  .top-slogan {
    text-align: left;
    margin-top: 32px;
    align-self: flex-start !important;
  }
  .top-slogan::before {
    content: '\2014\2002';
  }
  .dots {
    top: 0;
    bottom: 0;
    right: 0;
    cursor: default;
  }
}
@media (min-width: 992px) { // Large devices (desktops, 992px and up)
  .top-phone {
    font-size: 24px;
  }
  .screen-3-icons {
    min-height: calc(3em + 1rem);
  }
}
@media (min-width: 1200px) { // Extra large devices (large desktops, 1200px and up)
  .top-phone {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) { // Small devices (landscape phones, less than 768px)
  .order-form {
    background-color: rgba(238, 238, 238, 0.8) !important;
  }
}
// bootstrap
@import "../../../bootstrap-4.3.1/scss/bootstrap";
